body{
    background-image: url(../imagens/robo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px 40px ;
    margin-top: 20px;
    border-radius: 10px;
}